<!DOCTYPE html>
  <html lang="en" ng-app="headliner">
  
    <head>
      <meta name="viewport" charset="8-utf" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
      <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" href="turntable.css">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <title>HEADLINER</title>
    </head>
    
    <body>

      <!-- NAVIGATION -->
      <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="AuthController">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Home</span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li class="ng-cloak" ng-if="checkType('artist') && !signingUp()" ng-cloak><a href="#/homepage-artist"><b>Find Venues</b></a></li>
              <li class="ng-cloak" ng-if="checkType('venue') && !signingUp()" ng-cloak><a href="#/homepage-venue"><b>Find Artists</b></a></li>
              <li><a class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak>|</a></li>
              <li><a href="#/messages" class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak><b>Messages ({{$root.unreadMessages}})</b></a></li>
              <li><a class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak>|</a></li>
              <li><a href="#/requests" class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak><b>Requests ({{$root.unreadRequests}})</b></a></li>
            </ul>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

              <li><a href='{{"/#/profile-" + $root.type + "/" + $root.id}}' class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak><b>My Profile</b></a></li>
              <li><a class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak>|</a></li>
              <li><a href='{{"/#/edit-profile-" + $root.type}}' class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak><b>Edit Profile</b></a></li>
              <li><a class="ng-cloak" ng-if="loggedIn() && !signingUp()" ng-cloak>|</a></li>
              <li><a href="#/" ng-click="signout()" class="ng-cloak" ng-if="loggedIn()" ng-cloak><b>Sign Out</b></a></li>

              <li class="dropdown">
                <a class="dropdown-toggle ng-cloak" data-toggle="dropdown" ng-hide="loggedIn()" ng-cloak><b>Login</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                  <li>
                    <div class="row">
                      <div class="col-md-12" class="logintext">
                        <h6>Login with Google or Facebook</h6>
                        <div class="social-buttons">
                          <a href="/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                          <a href="/auth/google" class="btn btn-goog"><i class="fa fa-google"></i> Google</a>
                        </div>
                        <label class="sr-only" for="username">Email address</label>
                        <input type="email" class="form-control" id="username" placeholder="Email address" ng-model="user.localEmail"  required>
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                        <div ng-if="login.error" class="alert alert-danger" role="alert"> {{ login.error }} </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Sign in</button>
                      </div>
                      <div class="text-center logintext">New to Headliner? <a href="#/signup" class="logintext"><b>Signup Here</b></a></div>
                    </div>
                  </li>
                </ul>
              </li>        
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div ui-view></div>
      
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0xjMqkn-vNQTBs2I6dcupgGb4vRrqHv4&libraries=geometry"></script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
      <script type="text/javascript" src="bower_components/toastr/toastr.min.js"></script>
      <script type="text/javascript" src="https://sdk.amazonaws.com/js/aws-sdk-2.0.9.min.js"></script>

      <script type="text/javascript" src="app/auth/auth.ctrl.js"></script>
      <script type="text/javascript" src="app/auth/aws.ctrl.js"></script>
      <script type="text/javascript" src="app/auth-init/auth-init.ctrl.js"></script>
      <script type="text/javascript" src="app/homepage/homepage-artist.ctrl.js"></script>
      <script type="text/javascript" src="app/homepage/homepage-venue.ctrl.js"></script>
      <script type="text/javascript" src="app/edit-profile/edit-profile-venue.ctrl.js"></script>
      <script type="text/javascript" src="app/edit-profile/edit-profile-artist.ctrl.js"></script>
      <script type="text/javascript" src="app/profiles/profile-artist.ctrl.js"></script>
      <script type="text/javascript" src="app/profiles/profile-venue.ctrl.js"></script>
      <script type="text/javascript" src="app/messages/messages.ctrl.js"></script>
      <script type="text/javascript" src="app/messages/conversation.ctrl.js"></script>
      <script type="text/javascript" src="app/profiles/profile-music.ctrl.js"></script>
      <script type="text/javascript" src="app/requests/requests.ctrl.js"></script>

      <script type="text/javascript" src="app/services/requests.service.js"></script>
      <script type="text/javascript" src="app/services/homepage.service.js"></script>
      <script type="text/javascript" src="app/services/global.service.js"></script>
      <script type="text/javascript" src="app/services/edit.service.js"></script>
      <script type="text/javascript" src="app/services/auth.service.js"></script>
      <script type="text/javascript" src="app/services/profile.service.js"></script>
      <script type="text/javascript" src="app/services/messages.service.js"></script>
      <script type="text/javascript" src="app/services/music.service.js"></script>

      <script type="text/javascript" src="app/services/directives.js"></script>
      <script type="text/javascript" src="app/turntable/SoundManager2-jsmin.js"></script>
      <script type="text/javascript" src="app/turntable/turntable.js"></script>
      <script type="text/javascript" src="app/turntable/turntable-app.js"></script>
      <script type="text/javascript" src="app/app.js"></script>

    </body>
</html>
