/*TRANSPARENT BUTTONS FOR VENUE TYPE AND GENRE UNDER TITLES ON LISTINGS*/
.btn.outline {
    background: none;
    padding: 2px 5px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}.inline-fields band-members{
    display: inline-block;
}

/* SIGNUP FORM STYLNG */
body { 
    padding:20px; 
}

/* form styling */
#form-container { 
    background:white; 
    margin-bottom:20px;
    border-radius:5px; 
}
#form-container .page-header { 
    background: tomato; 
    margin:0; 
    padding:30px; 
    border-top-left-radiuss:5px; 
    border-top-right-radius:5px; 
}

/* numbered buttons */
#status-buttons {  
}
#status-buttons a { 
    color: white; 
    display:inline-block; 
    font-size:12px; 
    margin-right:10px; 
    text-align:center; 
    text-transform:uppercase; 
}
#status-buttons a:hover
{ text-decoration:none; 
}

/* style the span as the circled number */
#status-buttons span { 
    background: orange; 
    display:block; 
    height:30px; 
    margin:0 auto 10px; 
    padding-top:5px; 
    width:30px; 
    border-radius:50%; 
}

/* active buttons */
#status-buttons a.active span { 
    background: red; 
}

/*selectors in form Material UI*/
md-radio-button {
  display: inline;
}
md-checkbox {
  display: inline;
}
