/*TRANSPARENT BUTTONS FOR VENUE TYPE AND GENRE UNDER TITLES ON LISTINGS*/

.btn.outline {
  background: none;
  padding: 2px 5px;
}
.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}
.inline-fields artist-members{
  display: inline-block;
}

/* SIGNUP FORM STYLNG */
body { 
  padding:20px; 
}

/* form styling */
#form-container { 
  background:white; 
  margin-bottom:20px;
  border-radius:5px; 
}
#form-container .page-header { 
  background: tomato; 
  margin:0; 
  padding:30px; 
  border-top-left-radiuss:5px; 
  border-top-right-radius:5px; 
}
.material-icons {
    background-color: #f5f5f5;
}

/* numbered buttons */
#status-buttons {  
}
#status-buttons a { 
  color: white; 
  display:inline-block; 
  font-size:12px; 
  margin-right:10px; 
  text-align:center; 
  text-transform:uppercase; 
}
#status-buttons a:hover
{ text-decoration:none; 
}

/* style the span as the circled number */
#status-buttons span { 
  background: #dddfd4; 
  display:block; 
  height:30px; 
  margin:0 auto 10px; 
  padding-top:5px; 
  width:30px; 
  border-radius:50%; 
}

/* active buttons */
#status-buttons a.active span { 
  background: black; 
}

.artistTitle {
  padding-left: 25px;
}
.star{
  color:#ffea00;
  border: .5px solid #ffc400;
}

/*filter boxes*/
.box {
  border:1px solid #cfd8dc;
  margin-top: 10px;
}
.box h6 {
  background: #cfd8dc;
  color:white;
  padding:10px;
}
.box p {
  color:#333;
  padding:10px;
}
.box {
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
}

/*PROFILE*/
#profpic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
}

/*photo gallery thumbnail styling*/
.photo-gallery {
filter: gray; 
-webkit-filter: grayscale(1); 
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  margin-bottom:10px;
  overflow: hidden;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;    
}
.photo-gallery:hover {
filter: none; /* IE6-9 */
-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}


/*LANDING NAVBAR */

#login-dp{
  min-width: 350px;
  padding: 14px 14px 0;
  overflow:hidden;
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0    
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc 
}
.btn-goog{
  color: #fff;
  background-color: red;
}
.btn-goog:hover{
  color: #fff;
  background-color: red;
}
@media(max-width:768px){
  #login-dp{
      color: #fff;
  }
  #login-dp .bottom{
      border-top:0 none;
  }
}
nav {
  color: black;
}
.logintext{
  color: gray;
  padding: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.squish {
  margin: 0;
  margin-left: 15px
}

.profPic {
  margin-top: 30px;
  padding-right: 10px;
}

body {
  padding-top: 60px;
}

.chip {
    background-color: #dddfd4;
}

.landing {
  padding-top: 60px;
}

.messages {
  padding-top: 20px;
}

#title {
  color: #677077;
  left: 12%;
  line-height: 200px;
  margin: auto;
  margin-top: -240px;
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 200%;
}

.btn {
    background-color: #3fb0ac;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.card {
    border-radius: 5px;
    background-color: #f5f5f5;
}
.panel-group .panel {
    background-color: white;
}

.title {
  font-size: 400%;
  color: black;
}

.navbar-inverse {
  padding-bottom: 40px;
  background-color:;
}

.poiret {
  font-family: 'Montserrat', sans-serif;
  color: #3fb0ac;
  text-shadow: 10px 10px black;
  letter-spacing: 40px
}

#subtitle {
  color: #677077;
  left: 42%;
  line-height: 200px;
  margin: auto;
  margin-top: 20px;
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 200%;
}

hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.request {
  border
}

.noise {
  font-family: 'Montserrat', sans-serif;
  color: #173e43;
}

.z-depth-4,#requestModal{
  box-shadow:0 16px 28px 0 rgba(0,0,0,0),0 25px 55px 0 rgba(0,0,0,0)
}


#requestModal {
  display:none;
  position:fixed;
  left:0;
  right:0;
  padding:0;
  max-height:70%;
  width:55%;
  margin:auto;
  overflow-y:auto;
  border-radius:2px;
  will-change:top, opacity;
}

.modal {
    background-color: rgba(0,0,0,0);
}

.fade{
    display:none;position:fixed;left:0;right:0;padding:0;max-height:70%;width:55%;margin:auto;overflow-y:auto;border-radius:2px;will-change:top, opacity
}
.z-depth-4, .modal {
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}

.modal .fade{
    box-shadow:0 16px 28px 0 rgba(0,0,0,0),0 25px 55px 0 rgba(0,0,0,0)
}


