<div ng-init="init()"> 

  <br>
  <br>

  <!-- TOP HEADING -->
  <div class="row">
    <div class="col s3">
      <img id="profpic" src="http://www.nowplayingnashville.com/sites/nowplayingnashville.com/images/event/441756170/johnnyswim.jpg" />
    </div>
    <div class="col s9">
      <h3>{{artist.artist_name}}</h3>
      <p>{{artist.city}}, {{artist.state}}</p>
    </div>
    <div class="col s3">
      <p>blank</p>
    </div>
    <div class="col s9">
      <div class="chip lime lighten-4" ng-repeat="(key,data) in artist.genre">{{ key }}</div>
    </div>
    <div class="col ng-cloak" ng-show="checkType()" ng-cloak>     
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">Book {{artist.artist_name}}</button>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#messageModal">Message {{artist.artist_name}}</button>
    </div>
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="requestModalLabel">Request to {{artist.artist_name}}</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Date:</label>
                <input type="text" placeholder='  select date' datepicker-popup="MM/dd/yyyy" ng-model="date" is-open="opened" min-date="minDate" show-weeks="false" show-button-bar="false" ng-click="open()" date-disabled="disabled(date)"/>
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Message:</label>
                <textarea class="form-control" id="message-text" ng-model="request.message">{{request.message}}</textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sendRequest()">Send Request</button>
          </div>
        </div>
      </div>
    </div>

    <div id="messageModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Send Message</h4>
          </div>
          <div class="modal-body">
            <textarea name="message" type="text"  class="form-control input-sm chat-input" ng-model="message.message"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMessage()" ng-disabled="messageForm.$invalid">Send</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- NAV TABS -->
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#overview">OVERVIEW</a></li>
        <li class="tab col s2"><a href="#photos">PHOTOS</a></li>
        <li class="tab col s2"><a href="#calendar">CALENDAR</a></li>
        <li class="tab col s2"><a href="#reviews">REVIEWS</a></li>
        <li class="tab col s2"><a href="#music">MUSIC</a></li>
        <li class="tab col s2"><a href="#videos">VIDEOS</a></li>        
      </ul>
      <hr>
    </div>

<!-- INDIVIDUAL TAB CONTENT -->

    <!-- OVERVIEW TAB -->
    <div id="overview" class="col s12">
      <div class="row">
        <div class="col s7">
          <div>
            <h4>About</h4>
            <hr>
              <p id="aboutText">
                {{artist.bio}}
              </p> 
          </div>
        </div>
        <!-- RIGHT SIDE PANEL -->
        <div class="col s5">
          <div class="card-panel blue-grey lighten-4">
            
            <div> 
              <h5>Artist Members</h5>
              <div ng-repeat="(key, data) in artist.members">
                <p><b>{{key}}:</b> {{data}}</p>
              </div>
            </div>

            <div>
              <h5>Other Info</h5>
              <div>
                <p><b>Record Label:</b> {{artist.record_label}}</p>
                <p><b>Contact Info:</b> {{artist.contact_name}}, {{artist.phone || artist.email}}</p>
                <p><b>Additional Info:</b> (from form inputs)</p>
              </div>
            </div>

            <div>
              <h5>Links</h5>
              <div>
                <p><a href="{{artist.soundcloud}}">{{artist.soundcloud}}</a></p>
                <p><a href="{{artist.youtube}}">{{artist.youtube}}</a></p>
                <p><a href="{{artist.facebook}}">{{artist.facebook}}</a></p>
              </div>
            </div>                        

          </div>          
        </div>
      </div>

    </div>

    <!-- PHOTOS TAB (uses Bootstrap) --> 
    <div id="photos" class="col s12">

        <h4>PHOTO GALLERY</h4>
        <hr>

      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <img class="img-responsive photo-gallery thumbnail" src="http://www.stupiddope.com/wp-content/uploads/2010/10/johnnyswim.jpg" />
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <img class="img-responsive photo-gallery thumbnail" src="http://sar-cdn.com/sites/default/files/imagecache/superphoto/photos/blogs/53/johnnyswim.jpg" />
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <img class="img-responsive photo-gallery thumbnail" src="http://campusvinyl.com/bucknellu/wp-content/uploads/sites/4/2014/01/swim.jpg" />
        </div>        
      </div>

    </div>

    <!-- CALENDAR TAB -->
    <div id="calendar" class="col s12">

      <h4>CALENDAR</h4>
      <hr>
      <ul class="collection" ng-model="shows" ng-repeat="(key, value) in shows">
        <li class="collection-item avatar">
          <i class="material-icons circle blue">stars</i>
          <span class="title">Event Title</span>
          <p>{{value.date}} <br>
             event time <br>
             event location 
          </p>
        </li>
        </ul>

    </div>
    <!-- REVIEWS TAB -->
    <div id="reviews" class="col s12">

      <h4>REVIEWS</h4>
      <hr>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="http://i.imgur.com/ZNc1JZq.jpg" alt="" class="circle">
          <span class="title">Name</span>
          <p>Review Content <br>
             More Content
          </p>
          <div class="secondary-content">
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
          </div>
        </li>
        <li class="collection-item avatar">
          <img src="http://i.imgur.com/ZNc1JZq.jpg" alt="" class="circle">
          <span class="title">Name</span>
          <p>Review Content <br>
             More Content
          </p>
          <div class="secondary-content">
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
          </div>       
        </li>
        <li class="collection-item avatar">
          <img src="http://i.imgur.com/ZNc1JZq.jpg" alt="" class="circle">
          <span class="title">Name</span>
          <p>Review Content <br>
             More Content
          </p>
          <div class="secondary-content">
            <i class="material-icons">grade</i>
          </div>
        </li>                
      </ul>    
    </div>

<!-- MUSIC TAB -->
<div class="container" id="music" ng-controller="MusicController">
  <div class="row">
    <div class="col-md-12">

      <h5>Songs</h5>
      <ul>
        <li ng-repeat="song in songs">
          <button music-player="play" add-song="song">{{ song.title }}</button>
          <button music-player add-song="song">+</button>
        </li>
      </ul>

      <button play-all="songs">Play all</button>
      <button play-all="songs" data-play="false">Add all</button>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <!-- init soundManager2 player -->
      <sound-manager></sound-manager>

      <p>
          Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
      </p>

      <div class="seekBase" seek-track>
          <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
      </div>
      <br />
      <button play-music>Play</button>
      -
      <button pause-music>Pause</button>
      -
      <button stop-music>Stop</button>
      -
      <button repeat-music>Repeat ({{ repeat }})</button>
      -
      <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>

      Is Playing: {{ isPlaying }}
      <br/>
      <br/>Volume: {{ volume }} -
      <button music-volume data-type="increase">+</button>
      -
      <button music-volume data-type="decrease">-</button>
      -
      <button mute-music>Mute ({{ mute }})</button>
      <br/>
      <br/>
      <button prev-track>Prev Track</button>
      -
      <button next-track>Next Track</button>
      -
      <button clear-playlist>Clear Playlist</button>
      <br/>
      <br/>
      <h5>Playlist</h5>
      <ul>
          <li ng-repeat="song in playlist">
              <a play-from-playlist="song">{{ song.title }}</a>
              -
              <a remove-from-playlist="song" data-index="{{$index}}">
                  <small>(remove)</small>
              </a>
              <span ng-if="currentPlaying.id == song.id"> - (current)</span>
          </li>
      </ul>
    </div>
  </div>
</div>

    <!-- VIDEOS TAB -->
    <div id="videos" class="col s12">
      <h4>VIDEOS</h4>
      <hr> 
      
    </div>
  </div> <!-- end of nav tabs row -->
</div>