<!-- includes: contact name, phone || email, social media -->
<label>Contact</label>
<div class="form-group">

  <div>{{ user }}</div>
  <br>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <h5>Contact Name</h5>
        <div class="input-field col s12">
          <input ng-model="user.contact_name" id="contact_name" type="text" class="validate"/>
          <label for="contact_name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="question row col s9" ng-show="user.contact_name">
          <h5>What is the best way to contact your band {{ user.contact_name }}?</h5>
          <select class="browser-default" ng-model="communication">
            <option value="" disabled selected>Select an option</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
          </select>
        </div>
        <div ng-if="communication === 'Phone'"> 
           <input ng-model="user.phone" id="phone" type="text" class="validate"/>
           <label for="phone">Contact Phone Number</label>
        </div>
        <div ng-if="communication === 'Email'"> 
           <input ng-model="user.email" id="email" type="text" class="validate"/>
           <label for="email">Contact Email Address</label>
        </div>
      </div>
      <hr>
      <div class="row col s12">
        <h5>Your Links</h5>
        <label for="facebook">Facebook URL: </label>
          <input name="facebook" type="text" id="userFacebook" class="form-control input-sm chat-input" placeholder="http://www.facebook.com/my-band/" ng-model="user.facebook"/>
        <br>  
        <label for="soundcloud">Soundcloud: </label>
          <input name="soundcloud" type="text" id="userSoundcloud" class="form-control input-sm chat-input" placeholder="http://www.soundcloud.com/my-band/" ng-model="user.soundcloud"/>
        <br>  
        <label for="youtube">Youtube: </label>
          <input name="youtube" type="text" id="userYoutube" class="form-control input-sm chat-input" placeholder="http://www.youtube.com/my-band" ng-model="user.youtube"/>            
        <br>
        <label for="website">Website: </label>
          <input name="website" type="text" id="userWebsite" class="form-control input-sm chat-input" placeholder="http://www.my-band.com/" ng-model="user.website"/>            
        <br>
      </div>
    </form>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="signup-artist.terms" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>