<!-- includes: record label info, genre info -->
<div class="container">
  <form class="row col s6">
    <h5>Are you currently signed to a Record Label?</h5>
    <div class="row col s6">
      <select class="browser-default" ng-model="signed" required="required">
        <option value="" disabled selected>Choose your option</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div ng-if="signed === 'Yes'">
      <input name="label" type="text" class="form-control input-sm chat-input" placeholder="Record Label" ng-model="user.record_label"/>
    </div>
  </form>

  <!-- GENRE CHECKBOXES --> 
  <form class="col s12">
    <h5>Select your genres!</h5>
    <div class="row">

      <!-- ng-repeat to make checkboxes for all genres  -->
      <div class="input-field col s3" ng-repeat="(oneGenre,enabled) in allGenres">
        <input type="checkbox" id="{{oneGenre + 'g'}}" ng-model="user.genre[oneGenre]"/>
        <label for="{{oneGenre + 'g'}}">{{ oneGenre }}</label>
      </div>

    </div>
  </form>

  <br>          
  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="signup-artist.contact" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
  </div>
</div>
