<!-- includes: contact name, phone || email, social media -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <h5>Who is your point of contact?</h5>
        <div class="input-field col s12">
          <input ng-model="user.contact_name" id="contact_name" type="text" class="validate"/>
          <label for="contact_name">Contact Name</label>
        </div>
      </div>
      <div class="row">
        <div class="question row col s9" ng-show="user.contact_name">
          <h5>What is your preferred method of contact?</h5>
          <select class="browser-default" ng-model="communication">
            <option value="" disabled selected>Select an option</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
          </select>
        </div>
        <div class="question row col s9" ng-if="communication === 'Phone'"> 
           <input ng-model="user.phone" id="phone" type="text" class="validate" placeholder="Phone Number"/>
        </div>
        <div class="question row col s9" ng-if="communication === 'Email'"> 
           <input ng-model="user.email" id="email" type="text" class="validate" placeholder="Email"/>
        </div>
      </div>
      <div class="row col s12">
        <h5>Share Your Links!</h5>
        <label for="facebook">Facebook:</label>
          <input name="facebook" type="text" id="userFacebook" class="form-control input-sm chat-input" placeholder="http://www.facebook.com/my-artist/" ng-model="user.facebook"/>
        <br>  
        <label for="soundcloud">Soundcloud: </label>
          <input name="soundcloud" type="text" id="userSoundcloud" class="form-control input-sm chat-input" placeholder="http://www.soundcloud.com/my-artist/" ng-model="user.soundcloud"/>
        <br>  
        <label for="youtube">Youtube: </label>
          <input name="youtube" type="text" id="userYoutube" class="form-control input-sm chat-input" placeholder="http://www.youtube.com/my-artist" ng-model="user.youtube"/>            
        <br>
        <label for="website">Website: </label>
          <input name="website" type="text" id="userWebsite" class="form-control input-sm chat-input" placeholder="http://www.my-artist.com/" ng-model="user.website"/>            
        <br>
      </div>
    </form>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-12 col-xs-offset-5">
      <button type="submit" class="btn">Submit</button>
  </div>
</div>
