<!-- includes: artist's name, members/roles -->

<h3>Basic Artist Info</h3>
<div> {{ user }} {{member_name}} </div>

  
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="user.band_name" id="band_name" type="text" class="validate">
          <label for="band_name">Artist Name</label>
        </div>
      </div>
      <h5>Members & Roles</h5>
      <div class="form-group row">
        <div class="input-field col s6">
          <input ng-model="$parent.name" id="member_name" type="text" class="validate" required>
          <label for="member_name">Member</label>
        </div>
        <div class="input-field col s6">
          <input ng-model="$parent.role" id="member_role" type="text" class="validate">
          <label for="member_role">Role</label>
        </div>
        <a class="btn-floating btn-medium waves-effect waves-light blue" ng-click="addNewMember(name, role)" ><i class="material-icons">add</i></a>
                      
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="signup-artist.about" class="btn btn-block btn-info">
          Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>