<!-- includes: artist's name, members/roles -->

<h3>Basic Artist Info</h3>
<div> {{ user }} </div>

  
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="user.band_name" id="band_name" type="text" class="validate">
          <label for="artist_name">Artist Name</label>
        </div>
      </div>
      <h5>Members & Roles</h5>
      <div class="row" ng-repeat"member in user.members">
        <div class="input-field col s6">
          <input ng-model="member.name" type="text" class="validate">
          <label for="member_name">Member</label>
        </div>
        <div class="input-field col s6">
          <input ng-model="member.role" type="text" class="validate">
          <label for="member_role">Role</label>
        </div>
        <a class="btn-floating">
          <i class="material-icons" ng-show="$last" ng-click="addNewMember()">+</i>
        </a>
      </div>
        
        





        <a ui-sref="signup-artist.file2" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
  </div>
</div>