 <div class="container">

  <h4>{{ venue.venue_name }} Profile:</h4>

  <hr>

  <!-- CHANGE PASSWORD  -->
  <h5>Change Password:</h5>
   <form editable-form name="editLoginForm" onaftersave="updateUserPswd(user)">
      <div>
        <!-- username is not editable -->
        <span class="title">Username: </span>
        <span e-name="username">{{ user.username }}</span>
      </div> 
      <div ng-show="editLoginForm.$visible">
        <!-- editable password -->
        <span class="title">Password: </span>
        <input ng-model="user.password" type="password"/>
      </div> 

      <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editLoginForm.$show()" ng-show="!editLoginForm.$visible">
          Change Password
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editLoginForm.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editLoginForm.$waiting">
            Save
          </button>
          <button type="button" class="btn btn-default" ng-disabled="editLoginForm.$waiting" ng-click="editLoginForm.$cancel()">
            Cancel
          </button>
        </span>
      </div>
    </form> 

    <hr>
    
    <!-- CHANGE PROFILE INFORMATION -->
    <form editable-form name="editableForm" onaftersave="updateVenueInfo()">

      <h4>ADDRESS: </h4>
        <div>
          <div>
            <span class="title">Street: </span>
            <span editable-text="venue.street" e-name="street" e-required>{{ venue.street }}</span>              
          </div>
        <div>
          <span class="title">City: </span>
          <span editable-text="venue.city" e-name="city" e-required>{{ venue.city }}</span>              
        </div>
        <div>
          <span class="title">State: </span>
          <span>{{ venue.state }}</span>
          <select class="browser-default" ng-model="venue.state" ng-show="editableForm.$visible">
              <option disabled selected value="">Select a State</option>
              <option ng-repeat="state in states" value="{{state.abbrev}}" >{{ state.abbrev }}</option>
          </select>
        </div>                        
        <div>
          <span class="title">Zip: </span>
          <span editable-text="venue.zip" e-name="zip" e-required>{{ venue.zip }}</span>              
        </div>
      </div>

      <hr>

      <h4>ABOUT YOUR VENUE: </h4>
      <div class="row">
        <div class="input-field col s6"> 
          <span class="title">Indoor/Outdoor: {{ venue.inout }}</span>
            <div class="input-field col s9" ng-show="editableForm.$visible">
              <input class="with-gap" name="group1" type="radio" id="indoor" value="Indoor" ng-model="venue.inout"/>
              <label for="indoor">Indoor</label>       
              <input class="with-gap" name="group1" type="radio" id="outdoor" value="Outdoor" ng-model="venue.inout" />
              <label for="outdoor">Outdoor</label>
              <input class="with-gap" name="group1" type="radio" id="both" value="Both" ng-model="venue.inout" />
              <label for="both">Both</label> 
            </div> 
          </div>  
        <div class="input-field col s6">
          <span class="title">Capacity: </span>
          <span editable-number="venue.capacity" e-name="capacity" e-required>{{ venue.capacity }}</span>
        </div>
      </div>

        <div>
          <span class="title">Genres: </span>
          <div class="chip lime lighten-4" ng-repeat="(key,data) in venue.genre" ng-if="data">{{ key }}</div>
        </div>
  
        <!-- START OF GENRE CHECKBOXES -->
        <div class="row">
          <div class="input-field col s12" ng-show="editableForm.$visible">
            <div class="input-field col s3">
              <input type="checkbox" id="americana" ng-model="venue.genre.americana"/>
              <label for="americana">americana</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="blues" ng-model="venue.genre.blues"/>
              <label for="blues">blues</label>
            </div>
            <div class="input-field col s3"> 
              <input type="checkbox" id="bluegrass" ng-model="venue.genre.bluegrass"/>
              <label for="bluegrass">bluegrass</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="classical" ng-model="venue.genre.classical"/>
              <label for="classical">classical</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="comedy" ng-model="venue.genre.comedy"/>
              <label for="comedy">comedy</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="country" ng-model="venue.genre.country"/>
              <label for="country">country</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="cover" ng-model="venue.genre.cover"/>
              <label for="cover">cover band</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="dj" ng-model="venue.genre.dj"/>
              <label for="dj">dj</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="edm" ng-model="venue.genre.edm"/>
              <label for="edm">edm</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="electronic" ng-model="venue.genre.electronic"/>
              <label for="electronic">electronic</label>
            </div>
            <div class="input-field col s3"> 
              <input type="checkbox" id="folk" ng-model="venue.genre.folk"/>
              <label for="folk">folk</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="hiphop" ng-model="venue.genre.hiphop"/>
              <label for="hiphop">hiphop</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="jazz" ng-model="venue.genre.jazz"/>
              <label for="jazz">jazz</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="latin" ng-model="venue.genre.latin"/>
              <label for="latin">latin</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="metal" ng-model="venue.genre.metal"/>
              <label for="metal">metal</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="pop" ng-model="venue.genre.pop"/>
              <label for="pop">pop</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="rnb" ng-model="venue.genre.rnb"/>
              <label for="rnb">rnb</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="rock" ng-model="venue.genre.rock"/>
              <label for="rock">rock</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="spoken" ng-model="venue.genre.spoken"/>
              <label for="spoken">spoken word</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="world" ng-model="venue.genre.world"/>
              <label for="world">world</label>
            </div>
          </div>
        </div>
        <!-- END OF GENRE CHECKBOXES  -->  
        <div class="row">
          <div>
            <span class="title">About: </span>
            <span editable-textarea="venue.about" e-name="about" e-required>{{ venue.about }}</span>              
          </div>
          <div>
            <span class="title">Type: </span>
            <div class="chip red lighten-4" ng-repeat="(key,data) in venue.type" ng-if="data">{{ key }}</div>
          </div> 
        </div>          

        <!-- START OF TYPE CHECKBOXES  -->
        <div class="row" ng-show="editableForm.$visible">
          <div class="input-field col s12">
            <div class="input-field col s3">
              <input type="checkbox" id="casual" ng-model="venue.type.casual"/>
              <label for="casual">casual</label>
            </div>
            <div class="input-field col s3">  
              <input type="checkbox" id="beer" ng-model="venue.type.beer"/>
              <label for="beer">beer</label>
            </div>
            <div class="input-field col s3">               
              <input type="checkbox" id="champagne" ng-model="venue.type.champagne"/>
              <label for="champagne">champagne</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="cocktail" ng-model="venue.type.cocktail"/>
              <label for="cocktail">cocktail</label>
            </div>
            <div class="input-field col s3">          
              <input type="checkbox" id="country" ng-model="venue.type.country"/>
              <label for="country">country</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="dance" ng-model="venue.type.dance"/>
              <label for="dance">dance</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="dive" ng-model="venue.type.dive"/>
              <label for="dive">dive</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="gay" ng-model="venue.type.gay"/>
              <label for="gay">gay</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="hookah" ng-model="venue.type.hookah"/>
              <label for="hookah">hookah</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="irish" ng-model="venue.type.irish"/>
              <label for="irish">irish</label>
            </div>
            <div class="input-field col s3">               
              <input type="checkbox" id="jazz" ng-model="venue.type.jazz"/>
              <label for="jazz">jazz</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="karoke" ng-model="venue.type.karoke"/>
              <label for="karoke">karoke</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="coffee" ng-model="venue.type.coffee"/>
              <label for="coffee">coffee</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="lounge" ng-model="venue.type.lounge"/>
              <label for="lounge">lounge</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="music" ng-model="venue.type.music"/>
              <label for="music">music</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="piano" ng-model="venue.type.piano"/>
              <label for="piano">piano</label>
            </div>
            <div class="input-field col s3">           
              <input type="checkbox" id="wine" ng-model="venue.type.wine"/>
              <label for="wine">wine</label>
            </div>
          </div>
        </div>  
        <!-- END OF TYPE CHECKBOXES  -->   
      
      <hr>   
      
      <h4>CONTACT INFO: </h4>
        <div>
          <span class="title">Contact Name: </span>
          <span editable-text="venue.contact_name" e-name="contact_name" e-required>{{ venue.contact_name }}</span>           
        </div>

        <div>
          <span class="title">Contact Phone Number: </span>
          <span editable-text="venue.contact_phone" e-name="contact_phone">{{ venue.contact_phone || 'N/A' }}</span>
        </div>    
        <div>
          <span class="title">Contact Email: </span>
          <span editable-email="venue.contact_email" e-name="contact_email">{{ venue.contact_email || 'N/A' }}</span>
        </div> 

      <hr>

      <h4>ABOUT YOUR VENUE: </h4>
        <div>
          <span class="title">Facebook: </span>
          <span editable-text="venue.facebook" e-name="facebook" e-required>{{ venue.facebook || 'N/A' }}</span>
        </div>
        <div>
          <span class="title">Yelp: </span>
          <span editable-text="venue.yelp" e-name="yelp" e-required>{{ venue.yelp || 'N/A' }}</span>
        </div>
        <div>
          <span class="title">Website: </span>
          <span editable-text="venue.website" e-name="website" e-required>{{ venue.website || 'N/A' }}</span>
        </div>                                                                              
      <hr>

      <!-- BUTTON OPTIONS -->
      <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
          Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
            Save Changes
          </button>
          <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
            Cancel
          </button>
        </span>
      </div>

    </form> 

<h3>For Testing:</h3>
<div>USER LOGIN INFO: {{ user }}</div>
<div>VENUE INFO: {{ venue }}</div>

</div>