<!-- CHANGE PASSWORD -->
<form ng-show="currentUser.password" editable-form shown="true" onaftersave="updateUserPswd(currentUser)">
  
  <h5>Change Password:</h5>
  
  <input ng-model="currentUser.password" type="password"/>
  <button type="submit" class="btn btn-primary" ng-disabled="editLoginForm.$waiting">Save</button>

</form> 
  
<!-- CHANGE PROFILE INFORMATION -->
<form editable-form shown="true" onaftersave="updateArtistInfo(user)">

  <h5>Update Profile:</h5>

  <span class="title">City: </span> 
  <span editable-text="user.city" e-name="city" e-required></span> 

  <span class="title">State: </span>
  <select class="browser-default" ng-model="user.state">
    <option disabled selected value="">Select a State</option>
    <option ng-repeat="state in states" value="{{state.abbrev}}">{{ state.abbrev }}</option>
  </select>           
  
  <span class="zip">Zip: </span> 
  <span editable-text="user.zip" e-name="zip" e-required></span>           
  
  <span class="title">About: </span>
  <span editable-textarea="user.bio" e-name="bio" e-required></span> 
  
  <span class="title">On Tour: </span>       
  <select class="browser-default" ng-model="user.onTour">
    <option value="" disabled selected>Choose your option</option>
    <option value="Local">Local</option>
    <option value="Touring">Touring</option>
    <option value="Both">Both</option>
  </select>

  <span class="title">Label: </span>
  <select class="browser-default" ng-model="user.signed">
    <option value="" disabled selected>Choose your option</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <div ng-if="user.signed === 'Yes'">
    <span editable-text="user.record_label" e-name="label" e-required></span>
  </div>

  <div>
    <span class="title">Members: </span>
    <div ng-repeat="(key,data) in user.member" ng-if="data">
      <div>{{ key }}- {{ data }}</div>
      <button class="btn" type="button" ng-click="remove(user.member.key)">Delete</button>
    </div>
  </div>      

  <span class="title">Genres: </span>
  <div class="row">
    <div class="input-field col s3" ng-repeat="(oneGenre,enabled) in allGenres">
      <input type="checkbox" id="{{oneGenre + 'g'}}" ng-model="user.genre[oneGenre]"/>
      <label for="{{oneGenre + 'g'}}">{{oneGenre}}</label>
    </div>
  </div>

  <span class="title">Contact Name: </span>
  <span editable-text="user.contact_name" e-name="contact_name" e-required></span>           

  <span class="title">Contact Phone Number: </span>
  <span editable-text="user.phone" e-name="phone"></span>

  <span class="title">Contact Email: </span>
  <span editable-email="user.email" e-name="email"></span>

  <span class="title">Facebook: </span>
  <span editable-text="user.facebook" e-name="facebook" e-required></span>

  <span class="title">Soundcloud: </span>
  <span editable-text="user.soundcloud" e-name="soundcloud" e-required></span>

  <span class="title">Youtube: </span>
  <span editable-text="user.youtube" e-name="youtube" e-required></span>

  <span class="title">Website: </span>
  <span editable-text="user.website" e-name="website" e-required></span>

  <button type="submit" class="btn btn-primary">Save Changes</button>

</form>
