<!-- includes: contact name, contact phone or email, possib set the other to null in new form controller, links -->

<label>Contact</label>
<div class="form-group">

  <br>
  <div>{{ user }}</div>
  <hr>

    <label>Do you prefer to be contacted by phone or email?</label>
    <select class="browser-default" ng-model="communication">
      <option value="" disabled selected>Choose your option</option>
      <option value="Phone">Phone</option>
      <option value="Email">Email</option>
    </select>

    <!-- drop down options depending on what user selects as their communication preference -->
    <div ng-show="communication === 'Phone'">
      <label for="phone">Contact Phone Number: </label>
      <input name="phone" type="text"  class="form-control input-sm chat-input" placeholder="Phone Number" ng-model="user.contact_phone"/>
    </div>
    <br>
    <div ng-show="communication === 'Email'">
      <label for="email">Contact Email Address: </label>
      <input name="email" type="email"  class="form-control input-sm chat-input" placeholder="Email" ng-model="user.contact_email"/>
    </div>
    <br> 

    <hr>

    <h3>Your Links: </h3>
    <label for="facebook">Facebook URL: </label>
      <input name="facebook" type="text" class="form-control input-sm chat-input" placeholder="http://www.facebook.com/my-venue/" ng-model="user.facebook"/>
    <br>  
    <label for="yelp">Venue Yelp URL: </label>
      <input name="yelp" type="text" id="userYelp" class="form-control input-sm chat-input" placeholder="http://www.yelp.com/my-venue/" ng-model="user.yelp"/>
    <br>  
    <label for="website">Venue Website: </label>
      <input name="website" type="text" id="userWebsite" class="form-control input-sm chat-input" placeholder="http://www.my-venue.com/" ng-model="user.website"/>            
    <br>

</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="signup-venue.terms" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>