<!-- includes: venue type, about paragraph -->

<label>About</label>
<div class="form-group">

  <br>
  <div>{{ venue }}</div>
  <hr> 

<!-- VENUE TYPE CHECKBOXES -->

   <form class="col s12">
    <div class="row">

      <!-- ng-repeat to make checkboxes for all types  -->
      <div class="input-field col s3" ng-repeat="(oneType,enabled) in allTypes">
        <input type="checkbox" id="{{oneType + 't'}}" ng-model="venue.type[oneType]"/>
        <label for="{{oneType + 't'}}">{{oneType}}</label>
      </div>

    </div>
  </form>

<!-- About Text Area Box -->
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="venue.bio"></textarea>
        <label for="textarea1">About Your Venue</label>
      </div>
    </div>
  </form>

</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="signup-venue.contact" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>