<!-- includes: venue type, about paragraph -->

<label>About</label>
<div class="form-group">

  <br>
  <div>{{ user }}</div>
  <hr> 

<!-- VENUE TYPE CHECKBOXES -->
   <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <div class="input-field col s3">
          <p>
            <input type="checkbox" id="casual" ng-model="user.type.casual"/>
            <label for="casual">casual</label>
          </p>
        </div>
        <div class="input-field col s3">  
          <p>
            <input type="checkbox" id="beer" ng-model="user.type.beer"/>
            <label for="beer">beer</label>
          </p>
        </div>
        <div class="input-field col s3">               
          <p>
            <input type="checkbox" id="champagne" ng-model="user.type.champagne"/>
            <label for="champagne">champagne</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="cocktail" ng-model="user.type.cocktail"/>
            <label for="cocktail">cocktail</label>
          </p>
        </div>
        <div class="input-field col s3">          
          <p>
            <input type="checkbox" id="country" ng-model="user.type.country"/>
            <label for="country">country</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="dance" ng-model="user.type.dance"/>
            <label for="dance">dance</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="dive" ng-model="user.type.dive"/>
            <label for="dive">dive</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="gay" ng-model="user.type.gay"/>
            <label for="gay">gay</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="hookah" ng-model="user.type.hookah"/>
            <label for="hookah">hookah</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="irish" ng-model="user.type.irish"/>
            <label for="irish">irish</label>
          </p>
        </div>
        <div class="input-field col s3">               
          <p>
            <input type="checkbox" id="jazz" ng-model="user.type.jazz"/>
            <label for="jazz">jazz</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="karoke" ng-model="user.type.karoke"/>
            <label for="karoke">karoke</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="coffee" ng-model="user.type.coffee"/>
            <label for="coffee">coffee</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="lounge" ng-model="user.type.lounge"/>
            <label for="lounge">lounge</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="music" ng-model="user.type.music"/>
            <label for="music">music</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="piano" ng-model="user.type.piano"/>
            <label for="piano">piano</label>
          </p>
        </div>
        <div class="input-field col s3">           
          <p>
            <input type="checkbox" id="wine" ng-model="user.type.wine"/>
            <label for="wine">wine</label>
          </p>
        </div>
      </div>
    </div>
  </form>

<!-- About Text Area Box -->
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="user.about"></textarea>
        <label for="textarea1">About Your Venue</label>
      </div>
    </div>
  </form>

</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="signup-venue.contact" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>