<!-- includes: capacity, genre, indoor or outdoor -->
 
<!-- GENRE CHECKBOXES --> 
  <h5>What genres are you interested in?</h5>
   <form class="col s12">
    <div class="row">

      <!-- ng-repeat to make checkboxes for all genres  -->
      <div class="input-field col s3" ng-repeat="(oneGenre,enabled) in allGenres">
        <input type="checkbox" id="{{oneGenre + 'g'}}" ng-model="venue.genre[oneGenre]"/>
        <label for="{{oneGenre + 'g'}}">{{oneGenre}}</label>
      </div>

    </div>
  </form>
 
  
  <form class="col s12">
    <div class="row">
      <h5>What is your capacity?</h5>
      <div class="input-field col s9">
        <div class="input-field col s3">
          <p>
            <input class="with-gap" name="group1" type="radio" id="indoor" value="Indoor" ng-model="venue.in_out"/>
            <label for="indoor">Indoor</label>
          </p>          
        </div>
        <div class="input-field col s3">
          <p>
            <input class="with-gap" name="group1" type="radio" id="outdoor" value="Outdoor" ng-model="venue.in_out" />
            <label for="outdoor">Outdoor</label>
          </p>
        </div>
        <div class="input-field col s3">
          <p>
            <input class="with-gap" name="group1" type="radio" id="both" value="Both" ng-model="venue.in_out" />
            <label for="both">Both</label>
          </p>    
        </div>
      </div>
        <div class="input-field col s3">
          <input id="capacity" type="number" ng-model="venue.capacity" class="validate">
          <label for="capacity">Capacity</label>
        </div>  
    </div>    
  </form>

  <hr>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="signup-venue.about" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
