<!-- includes: capacity, genre, indoor or outdoor -->

<h3>More Info: </h3>
<div class="form-group">
  <div>{{ user }}</div>
            
<br>
<div layout="column" class="formGroup" ng-app="headliner">
  <md-content>
      <div layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Capacity</label>
          <input name="capacity" type="number" ng-model="user.capacity" required/>
        </md-input-container>   
        
        <label>Indoor or Outdoor?</label>
        <md-input-container flex="">
          <md-radio-group ng-model="user.inout">
            <md-radio-button class="md-primary" value="Indoor">Indoor</md-radio-button>
            <md-radio-button class="md-primary" value="Outdoor">Outdoor</md-radio-button>
            <md-radio-button class="md-primary" value="Both">Both</md-radio-button>
          </md-radio-group>  
        </md-input-container>     
      </div>


<div layout="column" class="formGroup" ng-app="headliner">
              <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          Checkbox 1: {{ data.cb1 }}
        </md-checkbox>
      </div>
  </md-content>  
</div>

<br>  

<!-- GENRE CHECKBOXES -->
<label>Music Genres:</label>
  <div class="form-group">
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.americana"/>Americana
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.blues"/>Blues
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.bluegrass"/>Bluegrass
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.classical"/>Classical
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.comedy"/>Comedy
      </label>  
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.country"/>Country
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.coverband"/>Cover Band
      </label>                  
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.dj"/>DJ
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.edm"/>EDM
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.electronic"/>Electronic
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.folk"/>Folk
      </label>   
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.hiphop"/>Hip Hop
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.jazz"/>Jazz
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.latin"/>Latin
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.metal"/>Metal
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.pop"/>Pop
      </label>   
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.rnb"/>R&B
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.rock"/>Rock
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.spoken"/>Spoken Word
      </label>
      <label class="checkbox">
          <input type="checkbox" name="userGenre" ng-model="user.genre.world"/>World
      </label>                                                       
  </div>
  <br>          
  <!-- END OF GENRE CHECKBOXES -->  

    <label for="inout">Indoor or Outdoor:</label>
    <br> 
      <input name="inout" type="radio" ng-model="user.inout" value="Indoor"/> Indoor
      <input name="inout" type="radio" ng-model="user.inout" value="Outdoor"/> Outdoor
      <input name="inout" type="radio" ng-model="user.inout" value="Both"/> Both
    <br>                                         
    
    <hr>

</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="signup-venue.about" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>