<div class="container">

  <!--  && $rootScope.currentUser.artist_id) || (request.sender === 'artist' && $rootScope.currentUser.venue_id) -->
  <!--  && $rootScope.currentUser.artist_id) || (request.sender === 'venue' && $rootScope.currentUser.venue_id) -->
  <div class="row" ng-model="requests">
    <div class="col-md-6"> <h4>Received Requests</h4>
      <div ng-repeat="request in requests" ng-if="request.sender === 'artist' && localStorage.type === 'venue' || request.sender === 'venue' && localStorage.type === 'artist'">
        <p><b>From:</b> {{request.sender}}</p>
        <p><b>Date:</b> {{request.date}}</p>
        <p><b>Message:</b> {{request.message}}</p>
        <button ng-click="acceptRequest(request); addShow(request)">Accept</button>
        <button ng-click="deleteRequest(request)">Reject</button>
      </div>
    </div>
    <div class="col-md-6"> <h4>Sent Requests</h4>
        <div ng-repeat="request in requests" ng-if="request.sender === 'artist' && localStorage.type === 'artist' || request.sender === 'venue' && localStorage.type === 'venue'">
          <p><b>To:</b> {{request.sender}}</p>
          <p><b>Date:</b> {{request.date}}</p>
          <p><b>Message:</b> {{request.message}}</p>
          <hr>
        </div>
    </div>
    <!-- <div class="col-md-6">{{request.artist_accept}}</div> -->
  </div>
</div>