<div ng-init="initArtist()">
  
  <!-- USER TABS FOR FIND AND PROFILE -->
  <h3>Search Venues</h3>
  
  <hr>


    <div class="row">

    <div class="col s3">
      <input type='text' ng-model='search.venue_name' placeholder='search by venue name' />
      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOne">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#distance" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Distance
                </a>
              </h6>
            </div>
            <div id="distance" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form>
                <select class="browser-default" ng-model="distance">
                  <option value="" disabled selected>select distance</option>
                  <option value="10">10 miles</option>
                  <option value="25">25 miles</option>
                  <option value="50">50 miles</option>
                  <option value="100">100 miles</option>
                </select>
              </form> 
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#availability" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Availability
                </a>
              </h6>
            </div>
            <div id="availability" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <input type="text" placeholder='  select date' datepicker-popup="MM/dd/yyyy" ng-model="date" is-open="opened" min-date="minDate" show-weeks="false" show-button-bar="false" ng-click="open()"/>
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#genre" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Genre
                </a>
              </h6>
            </div>
            <div id="genre" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div ng-repeat="(oneGenre,enabled) in allGenres">
                <p class="squish">
                  <input type="checkbox" id="{{oneGenre + 'g'}}" ng-model="genre[oneGenre]"/>
                  <label for="{{oneGenre  + 'g'}}">{{ oneGenre }}</label>
                </p>
              </div>       
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#type" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Type
                </a>
              </h6>
            </div>
            <div id="type" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div ng-repeat="(oneType,enabled) in allTypes">
                  <p class="squish">
                    <input type="checkbox" id="{{oneType  + 't'}}" ng-model="type[oneType]"/>
                    <label for="{{oneType  + 't'}}">{{ oneType }}</label>
                  </p>
                </div>       
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#capacity" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Capacity
                </a>
              </h6>
            </div>
            <div id="capacity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form>
                <p class="squish">
                  <input type="checkbox" id="high" ng-model="capacity.high"/>
                  <label for="high">>100</label>
                </p>  
                <p class="squish">
                  <input type="checkbox" id="med" ng-model="capacity.med"/>
                  <label for="med">>50</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="low" ng-model="capacity.low"/>
                  <label for="low">>20</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="tiny" ng-model="capacity.tiny"/>
                  <label for="tiny"><20</label>
                </p>
              </form>
            </div>


            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#indoor_outdoor" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Indoor/Outdoor
                </a>
              </h6>
            </div>
            <div id="indoor_outdoor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form>
                <p class="squish">
                  <input type="checkbox" id="indoor" ng-model="inout.Indoor"/>
                  <label for="indoor">Indoor</label>
                </p> 
                <p class="squish">
                  <input type="checkbox" id="outdoor" ng-model="inout.Outdoor"/>
                  <label for="outdoor">Outdoor</label>
                </p>  
                <p class="squish">
                  <input type="checkbox" id="both" ng-model="inout.Both"/>
                  <label for="both">Both</label>
                </p>
              </form>  
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#booked" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Booked
                </a>
              </h6>
            </div>
            <div id="booked" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form>
                <p class="squish">
                  <input type="checkbox" id="many" ng-model="booked.many"/>
                  <label for="many">>100</label>
                </p>  
                <p class="squish">
                  <input type="checkbox" id="some" ng-model="booked.some"/>
                  <label for="some">>10</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="few" ng-model="booked.few"/>
                  <label for="few">>0</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="none" ng-model="booked.none"/>
                  <label for="none">0</label>
                </p>
              </form>  
            </div>

            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#reviews" aria-expanded="true" aria-controls="collapseOne">
                  Filter By Reviews
                </a>
              </h6>
            </div>
            <div id="reviews" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form>
                <p class="squish">
                  <input type="checkbox" id="four" ng-model="reviews.four"/>
                  <label for="four">>4 stars</label>
                </p>  
                <p class="squish">
                  <input type="checkbox" id="three" ng-model="reviews.three"/>
                  <label for="three">>3 stars</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="two" ng-model="reviews.two"/>
                  <label for="two">>2 stars</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="one" ng-model="reviews.one"/>
                  <label for="one">>1 star</label>
                </p>
                <p class="squish">
                  <input type="checkbox" id="zero" ng-model="reviews.zero"/>
                  <label for="zero">No reviews</label>
                </p>
              </form>  
            </div> 

          </div>
        </div>
      </div>
    </div>
        <!-- 
                                         
      </div>

      </div> -->

  
      <div class="col s9">
        <div ng-repeat="venue in venues | filter:search | filter:genreFilter | filter:typeFilter | filter:capacityFilter | filter:inoutFilter |filter:bookedFilter | filter:reviewsFilter | filter:dateFilter | filter:distanceFilter">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light col s2">
              <img class="activator" src="http://i.imgur.com/ZNc1JZq.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ venue.venue_name }}<i class="material-icons right">more_vert</i></span>
              <p>{{ venue.city }} , {{ venue.state }}</p>
              <div class="chip lime lighten-4" ng-repeat="(key,data) in venue.genre">{{ key }}</div>
              <hr>
              <p><a href='{{"#/profile-venue/" + venue.venue_id}}'>See Venue Profile</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About {{venue.venue_name}}<i class="material-icons right">close</i></span>
                <p class="grey-text text-lighten">{{ venue.about }}</p>
                <h6 ng-repeat="(key,data) in artist.type">{{ key }}</h6>
            </div>
          </div>
        </div>  
      </div>

</div>
