<div class="container" ng-init="initArtist()">

<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Home</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HEADLINER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/homepage-artist">Find a Venue</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/profile-artist">Your Profile</a></li>
            <li><a href="#/Pending Requests">Pending Requests</a></li>
            <li><a href="#/" ng-click="signout()">Signout</a></li>
          </ul>
        </li>          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  <!-- USER TABS FOR FIND AND PROFILE -->
  <h1>Hey Artist!</h1>
  
  <hr>

  <blockquote>
    Insert block quote.
  </blockquote>

  <input type='text' ng-model='search.venue_name' placeholder='search by venue name' />

    <div class="row">

      <div class="col s3">
      <div class="row">
        <div class="box">
          <h6>Filter By Distance</h6>
          <form>
            <select class="browser-default" ng-model="distance">
              <option value="" disabled selected>select distance</option>
              <option value="10">10 miles</option>
              <option value="25">25 miles</option>
              <option value="50">50 miles</option>
              <option value="100">100 miles</option>
            </select>
          </form>  
        </div>
        <div class="box">
          <h6>Filter By Availability</h6>
          <form>
             <input type="date" ng-model="date">
          </form>  
        </div>
        <div class="box">
          <h6>Filter By Genre</h6>
          <form>
            <p>
              <input type="checkbox" id="americana" ng-model="genre.americana"/>
              <label for="americana">americana</label>
            </p>        
            <p>
              <input type="checkbox" id="blues" ng-model="genre.blues"/>
              <label for="blues">blues</label>
            </p>
            <p>
              <input type="checkbox" id="bluegrass" ng-model="genre.bluegrass"/>
              <label for="bluegrass">bluegrass</label>
            </p>         
            <p>
              <input type="checkbox" id="classical" ng-model="genre.classical"/>
              <label for="classical">classical</label>
            </p>          
            <p>
              <input type="checkbox" id="comedy" ng-model="genre.comedy"/>
              <label for="comedy">comedy</label>
            </p>         
            <p>
              <input type="checkbox" id="country" ng-model="genre.country"/>
              <label for="country">country</label>
            </p>          
            <p>
              <input type="checkbox" id="cover" ng-model="genre.cover"/>
              <label for="cover">cover band</label>
            </p>          
            <p>
              <input type="checkbox" id="dj" ng-model="genre.dj"/>
              <label for="dj">dj</label>
            </p>         
            <p>
              <input type="checkbox" id="edm" ng-model="genre.edm"/>
              <label for="edm">edm</label>
            </p>         
            <p>
              <input type="checkbox" id="electronic" ng-model="genre.electronic"/>
              <label for="electronic">electronic</label>
            </p>
            <p>
              <input type="checkbox" id="folk" ng-model="genre.folk"/>
              <label for="folk">folk</label>
            </p>         
            <p>
              <input type="checkbox" id="hiphop" ng-model="genre.hiphop"/>
              <label for="hiphop">hiphop</label>
            </p>          
            <p>
              <input type="checkbox" id="jazz" ng-model="genre.jazz"/>
              <label for="jazz">jazz</label>
            </p>          
            <p>
              <input type="checkbox" id="latin" ng-model="genre.latin"/>
              <label for="latin">latin</label>
            </p>          
            <p>
              <input type="checkbox" id="metal" ng-model="genre.metal"/>
              <label for="metal">metal</label>
            </p>          
            <p>
              <input type="checkbox" id="pop" ng-model="genre.pop"/>
              <label for="pop">pop</label>
            </p>          
            <p>
              <input type="checkbox" id="rnb" ng-model="genre.rnb"/>
              <label for="rnb">r&b</label>
            </p>         
            <p>
              <input type="checkbox" id="rock" ng-model="genre.rock"/>
              <label for="rock">rock</label>
            </p>        
            <p>
              <input type="checkbox" id="spoken" ng-model="genre.spoken"/>
              <label for="spoken">spoken word</label>
            </p>          
            <p>
              <input type="checkbox" id="world" ng-model="genre.world"/>
              <label for="world">world</label>
            </p>
          </form>
        </div>
        <div class="box">
          <h6>Filter By Type</h6>
            <form>
            <p>
              <input type="checkbox" id="casual" ng-model="type.casual"/>
              <label for="casual">casual</label>
            </p>
            <p>
              <input type="checkbox" id="beer" ng-model="type.beer"/>
              <label for="beer">beer</label>
            </p>             
            <p>
              <input type="checkbox" id="champagne" ng-model="type.champagne"/>
              <label for="champagne">champagne</label>
            </p>    
            <p>
              <input type="checkbox" id="cocktail" ng-model="type.cocktail"/>
              <label for="cocktail">cocktail</label>
            </p>
            <p>
              <input type="checkbox" id="country" ng-model="type.country"/>
              <label for="country">country</label>
            </p>        
            <p>
              <input type="checkbox" id="dance" ng-model="type.dance"/>
              <label for="dance">dance</label>
            </p>        
            <p>
              <input type="checkbox" id="dive" ng-model="type.dive"/>
              <label for="dive">dive</label>
            </p>         
            <p>
              <input type="checkbox" id="gay" ng-model="type.gay"/>
              <label for="gay">gay</label>
            </p>       
            <p>
              <input type="checkbox" id="hookah" ng-model="type.hookah"/>
              <label for="hookah">hookah</label>
            </p>         
            <p>
              <input type="checkbox" id="irish" ng-model="type.irish"/>
              <label for="irish">irish</label>
            </p>             
            <p>
              <input type="checkbox" id="jazz" ng-model="type.jazz"/>
              <label for="jazz">jazz</label>
            </p>         
            <p>
              <input type="checkbox" id="karoke" ng-model="type.karoke"/>
              <label for="karoke">karoke</label>
            </p>          
            <p>
              <input type="checkbox" id="coffee" ng-model="type.coffee"/>
              <label for="coffee">coffee</label>
            </p>         
            <p>
              <input type="checkbox" id="lounge" ng-model="type.lounge"/>
              <label for="lounge">lounge</label>
            </p>         
            <p>
              <input type="checkbox" id="music" ng-model="type.music"/>
              <label for="music">music</label>
            </p>         
            <p>
              <input type="checkbox" id="piano" ng-model="type.piano"/>
              <label for="piano">piano</label>
            </p>       
            <p>
              <input type="checkbox" id="wine" ng-model="type.wine"/>
              <label for="wine">wine</label>
            </p>
          </form>
        </div>
        <div class="box">
          <h6>Filter By Capacity</h6>
          <form>
            <p>
              <input type="checkbox" id="high" ng-model="capacity.high"/>
              <label for="high">>100</label>
            </p>  
            <p>
              <input type="checkbox" id="med" ng-model="capacity.med"/>
              <label for="med">>50</label>
            </p>
            <p>
              <input type="checkbox" id="low" ng-model="capacity.low"/>
              <label for="low">>20</label>
            </p>
            <p>
              <input type="checkbox" id="tiny" ng-model="capacity.tiny"/>
              <label for="tiny"><20</label>
            </p>
          </form>
        </div>
        <div class="box">
          <h6>Filter By Indoor/Outdoor</h6>
          <form>
            <p>
              <input type="checkbox" id="indoor" ng-model="inout.Indoor"/>
              <label for="indoor">Indoor</label>
            </p> 
            <p>
              <input type="checkbox" id="outdoor" ng-model="inout.Outdoor"/>
              <label for="outdoor">Outdoor</label>
            </p>  
            <p>
              <input type="checkbox" id="both" ng-model="inout.Both"/>
              <label for="both">Both</label>
            </p>
          </form>  
        </div>
        <div class="box">
          <h6>Filter By Booked</h6>
          <form>
            <p>
              <input type="checkbox" id="many" ng-model="booked.many"/>
              <label for="many">>100</label>
            </p>  
            <p>
              <input type="checkbox" id="some" ng-model="booked.some"/>
              <label for="some">>10</label>
            </p>
            <p>
              <input type="checkbox" id="few" ng-model="booked.few"/>
              <label for="few">>0</label>
            </p>
            <p>
              <input type="checkbox" id="none" ng-model="booked.none"/>
              <label for="none">0</label>
            </p>
          </form>  
        </div>
        <div class="box">
          <h6>Filter By Reviews</h6>
          <form>
            <p>
              <input type="checkbox" id="four" ng-model="reviews.four"/>
              <label for="four">>4 stars</label>
            </p>  
            <p>
              <input type="checkbox" id="three" ng-model="reviews.three"/>
              <label for="three">>3 stars</label>
            </p>
            <p>
              <input type="checkbox" id="two" ng-model="reviews.two"/>
              <label for="two">>2 stars</label>
            </p>
            <p>
              <input type="checkbox" id="one" ng-model="reviews.one"/>
              <label for="one">>1 star</label>
            </p>
            <p>
              <input type="checkbox" id="zero" ng-model="reviews.zero"/>
              <label for="zero">No reviews</label>
            </p>
          </form>  
        </div>                                     
      </div>

      </div>

  
      <div class="col s9">
        <div class="col s4" ng-repeat="venue in venues | filter:search | filter:genreFilter | filter:typeFilter | filter:capacityFilter | filter:inoutFilter |filter:bookedFilter | filter:reviewsFilter | filter:dateFilter | filter:distanceFilter">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://i.imgur.com/ZNc1JZq.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ venue.venue_name }}<i class="material-icons right">more_vert</i></span>
              <p>{{ venue.city }} , {{ venue.state }}</p>
              <div class="chip lime lighten-4" ng-repeat="(key,data) in venue.genre">{{ key }}</div>
              <hr>
              <p><a data-id='{{ venue.venue_id }}' ng-click='getClickedVenueData($event)' href="#/profile-venue">See Venue Profile</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About {{venue.venue_name}}<i class="material-icons right">close</i></span>
                <p class="grey-text text-lighten">{{ venue.about }}</p>
                <h6 ng-repeat="(key,data) in artist.type">{{ key }}</h6>
            </div>
          </div>
        </div>  
      </div>

</div>
