<!-- Main login form -->
<div class="container signform">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-login">
          <h3>LOGIN</h3>
          <form name="signForm">
            <!-- username input-->
            <label for="username">Username: </label>
            <input name="username" type="text"  class="form-control input-sm chat-input" placeholder="username" ng-model="user.username" required/>
            </br>

            <!-- password input -->
            <label for="username">Password: </label>
            <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
            </br>

            <!-- login button and signup option -->
            <div class="wrapper">
              <span class="group-btn">     
                <button class="btn btn-primary btn-block" ng-click="login()" ng-disabled="signForm.$invalid">Login</button>
              </span>
              <br> 
              <br>
              <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>