<!-- Main login form -->
<div class="container signform">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-login">
          <h3>ARTIST SIGN UP FORM</h3>
          <form name="signForm">
            <h2>Create an Account:</h2>
            <!-- username input-->
            <label for="localEmail">Email: </label>
              <input name="localEmail" type="email"  class="form-control input-sm chat-input" placeholder="email address" ng-model="user.localEmail" required/>
           <br>
            <label for="password">Password: </label>
              <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
            <br>

            <hr>
            <h2>Basic Artist Info:</h2>
            <br>
            <!-- artist's name -->
            <label for="artist_name">Artist Name: </label>
              <input name="artist name" type="text"  class="form-control input-sm chat-input" placeholder="artist name" ng-model="user.band_name" required/>
            <br>
            <!-- Band Members & their roles 
                -Members added into array of objects, with
                their own ID, name, and role properties--> 
            <label for="band_members">Band Members & Roles: </label>
            <div class="form-group" ng-repeat="member in user.members">
              <label for="member_name">Member: </label>
                <input type="text" ng-model="member.name" name="" class="band-members" placeholder="enter member's name"  required/>
              <label for="member_role">Role: </label>
                <input type="text" ng-model="member.role" name="" class="band-members" placeholder="enter member's role"  required/>
              <button class="add_member" type="button" ng-show="$last" ng-click="addNewMember()">Add Member</button>
            </div>
            <button class="remove_member" type="button" ng-click="removeMember()">Remove Member</button>            
            <br>
            <hr>
            
            <!-- About Artist text box-->
            <h2>About the Artist</h2>
            <label for="about_artist">About You:</label> 
              <textarea name="about" type="text"  class="form-control input-sm chat-input" placeholder="Short bio about you and your music" ng-model="user.about" required></textarea>
            <br>
            <hr>


              <!--Genres of Music-->
              <h2>Types of Genres</h2>
              <p><i>Check all that apply to your sound.</i></p>
              <div class="form-group">
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.alternative"/>Alternative
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.americana"/>Americana
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.blues"/>Blues
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.bluegrass"/>Bluegrass
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.christian"/>Christian
                  </label>                                    
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.classical"/>Classical
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.comedy"/>Comedy
                  </label>  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.country"/>Country
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.dj"/>DJ
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.edm"/>EDM
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.electronic"/>Electronic
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.experimental"/>Experimental
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.folk"/>Folk
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.goth"/>Goth
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.grunge"/>Grunge
                  </label>                                    
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.hiphop"/>Hip Hop
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.indie"/>Indie
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.jazz"/>Jazz
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.latin"/>Latin
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.metal"/>Metal
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.pop"/>Pop
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.rnb"/>R&B
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.reggae"/>Reggae
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.rock"/>Rock
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.shoegaze"/>Shoegaze
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.spoken"/>Spoken Word
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.tejano"/>Tejano
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.world"/>World
                  </label>                                                       
              </div>
              <br> 
              <hr>


              <!-- Record Label Checkbox (ng-if) -->
            <h2>Label Info</h2>
            <div>
              <label>Are you currently signed to a Label?</label>
                <select name="label" ng-model="signed" required>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
            </div>

            <div ng-if="signed === 'Yes'">
              <label for="record_label">Enter Label Name: </label>
                <input name="record label" class="form-control input-sm chat-input" placeholder="Record Label" ng-model="user.record_label"/>
            </div>
            <br>
            <hr>


            <!--location -->
            <div class"loc">
              <h2>Location</h2>
              <label for="location">Where is your band located?</label>
              <br>
                <label for="city">City: </label>
                  <input name="city" class="city-state-zip" placeholder="City" ng-model="user.city"/>
                <br>
                <label for="state">State: </label>  
                  <input name="state" class="city-state-zip" placeholder="State" ng-model="user.state"/>
                <br>
                <label for="zip_code">Zip Code: </label>
                  <input name="zip" class="city-state-zip" placeholder="Zip Code" ng-model="user.zip"/>
                <br>

              <!-- Local, Touring, or Both -->
              <label for="localTour">Are you local or touring?</label>
              <br> 
                <input name="localTour" type="radio" ng-model="user.onTour" value="Local"/> Local
                <input name="localTour" type="radio" ng-model="user.onTour" value="Touring"/> Touring
                <input name="localTour" type="radio" ng-model="user.onTour" value="Both"/> Both
              <br>

              <!-- Location Availability -->
              <div ng-if="localTour === 'Touring' || localTour === 'Both'">
                <label>Where is your band available to travel?</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.east"/>East Coast</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.west"/>West Coast</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.midwest"/>Midwest</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.north"/>North</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.south"/>South</label>
                  <label class="checkbox">
                    <input type="checkbox" name="locationArea" ng-model="user.nationwide"/>Nationwide</label>
              </div>
              <hr>



              <!-- contact info -->
              <h2>Contact Info:</h2>
              <label for="contact name">Contact Name: </label>
                <input name="contact name" type="text" class="form-control input-sm chat-input" placeholder="contact name" ng-model="user.name" required/>
              <br>
              <div class="question" ng-show="user.name">
                <label>What is the best way to contact your band {{user.name}}?</label>
                  <select name="communicate" ng-model="communication" required>
                    <option></option>
                    <option>Phone</option>
                    <option>Email</option>
                  </select>
              </div>              
            <div ng-if="communication === 'Email'">
              <label for="email">Email address: </label>
                <input name="artist-email" type="text" class="form-control input-sm chat-input" placeholder="valid email address" ng-model="user.email" required/>
              <br>
            </div>
            <div ng-if="communication === 'Phone'"> 
              <label for="phone number">Phone Number: </label>
               <input name="phone number" type="text" class="form-control input-sm chat-input" placeholder="valid phone number" ng-model="user.phone" required/>
              <br>
            </div>
              <hr>


              <!-- social media links --> 
              <h3>Your Links: </h3>
              <p>Share more of your sound!</p>
              <br>
              <label for="facebook">Facebook: </label>
                <input name="facebook" type="text" class="form-control input-sm chat-input" placeholder="http://www.facebook.com/my-facebook/" ng-model="user.facebook"/>
              <br>  
              <label for="soundcloud">SoundCloud: </label>
                <input name="soundcloud" type="text" id="userSoundCloud" class="form-control input-sm chat-input" placeholder="http://www.soundcloud.com/my-soundcloud/" ng-model="user.soundcloud"/>
              <br>  
              <label for="youtube">Youtube: </label>
                <input name="Youtube" type="text" id="userYoutube" class="form-control input-sm chat-input" placeholder="http://www.youtube.com/my-youtube" ng-model="user.youtube"/>            
              <br>
              <label for="website">Band Website: </label>
                <input name="website" type="text" id="userWebsite" class="form-control input-sm chat-input" placeholder="http://www.my-band.com/" ng-model="user.website"/>            
              <br>


  <!-- form sections to add in: on tour, genre, location, band name, band type, email, phone number, record label, facebook, soundcloud, youtube, website, aboutus -->
            
            <!-- Agreement Form to be added -->
            <label for="agree">Yes, I agree to the Terms and Conditions! (that don't exist)  </label>
            <input type="checkbox" ng-model="user.agree" name="agree" required="" />

            <div class="wrapper">
              <span class="group-btn">     
                <button class="btn btn-primary btn-block" ng-click="signupArtist()" ng-disabled="signUpForm.$invalid">Create Artist Profile</button>
              </span>
              <br> 
              <br>
              <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>