<!-- Main login form -->
<div class="container signform">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-login">
          
          <h3>VENUE SIGN UP FORM</h3>

          <!-- Sign up with Facebook Option -->
          <div class="wrapper">
            <span class="group-btn">     
              <button class="btn btn-primary btn-block" ng-click="" ng-disabled="signForm.$invalid">Sign Up with Facebook</button>
            </span>
          </div>
          <br>
          
          <hr><!-- add in an - OR - seperator -->

          <!-- Start of User Sign Up Form (w/o Facebook) -->
          <form name="signForm">
            <!-- username input-->
            <h3>Create an Account: </h3>
            <br>
            
            <label for="localEmail">Login Email: </label>
              <input name="localEmail" type="email"  class="form-control input-sm chat-input" placeholder="localEmail" ng-model="user.localEmail" required/>
            <br>
            <label for="password">Password: </label>
              <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
            <br>
            
            <hr>
            
            <h3>Basic Venue Info: </h3>
            <br>
            
            <label for="name">Name: </label>
              <input name="name" type="text"  class="form-control input-sm chat-input" placeholder="name" ng-model="user.name" required/>
            <br>
            <label for="street">Venue Address:</label>
              <input name="street" type="text" id="userStreet" class="form-control input-sm chat-input" placeholder="street" ng-model="user.street" required/>
            <br>
              <input name="city" type="text" id="userCity" class="form-control input-sm chat-input" placeholder="city" ng-model="user.city" required/>
            <br>
              <input name="state" type="text" id="userState" class="form-control input-sm chat-input" placeholder="state" ng-model="user.state" required/>
            <br>
              <input name="zip" type="text" id="userZip" class="form-control input-sm chat-input" placeholder="zip" ng-model="user.zip" required/>
            <br>
          
            <hr>
            
            <h3>About Your Venue: </h3>
            <br>

            <label for="capacity">Venue Capacity: </label>
              <input name="capacity" type="number" id="userCapacity" class="form-control input-sm chat-input" placeholder="capacity" ng-model="user.capacity" required/>
            <br>  

            <!-- GENRE CHECKBOXES -->
            <label>Music Genres:</label>
              <div class="form-group">
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.americana"/>Americana
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.blues"/>Blues
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.bluegrass"/>Bluegrass
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.classical"/>Classical
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.comedy"/>Comedy
                  </label>  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.country"/>Country
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.coverband"/>Cover Band
                  </label>                  
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.dj"/>DJ
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.edm"/>EDM
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.electronic"/>Electronic
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.folk"/>Folk
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.hiphop"/>Hip Hop
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.jazz"/>Jazz
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.latin"/>Latin
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.metal"/>Metal
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.pop"/>Pop
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.rnb"/>R&B
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.rock"/>Rock
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.spoken"/>Spoken Word
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userGenre" ng-model="user.genre.world"/>World
                  </label>                                                       
              </div>
              <br>          
              <!-- END OF GENRE CHECKBOXES -->

            <!-- About Us Expandable Text Box  -->    
            <label for="about">About your venue:</label> 
              <textarea name="about" type="text" id="userAboutUs" class="form-control input-sm chat-input" placeholder="Brief bio about your venue" ng-model="user.about" required></textarea>
            <br>

            <!-- VENUE TYPE CHECKBOXES -->
            <label>Type of Venue:</label>
              <div class="form-group">
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.casual"/>Casual Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.beer"/>Beer Garden
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.champagne"/>Champagne Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.cocktail"/>Cocktail Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.country"/>Country Dance Hall
                  </label>  
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.dance"/>Dance Club
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.dive"/>Dive Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.gay"/>Gay/Lesbian Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.hookah"/>Hookah Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.irish"/>Irish Pub
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.jazz"/>Jazz/Blues Bar
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.karoke"/>Karoke
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.coffee"/>Late Night Coffee Shop
                  </label>
                  <label class="checkbox">                  
                      <input type="checkbox" name="userType" ng-model="user.type.lounge"/>Lounge
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.music"/>Music Venue
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.piano"/>Piano Bar 
                  </label>   
                  <label class="checkbox">
                      <input type="checkbox" name="userType" ng-model="user.type.wine"/>Wine Bar
                  </label>                                                        
              </div>
              <br>          
              <!-- END OF VENUE TYPE CHECKBOXES -->

            <label for="inout">Indoor or Outdoor:</label>
            <br> 
              <input name="inout" type="radio" ng-model="user.inout" value="Indoor"/> Indoor
              <input name="inout" type="radio" ng-model="user.inout" value="Outdoor"/> Outdoor
              <input name="inout" type="radio" ng-model="user.inout" value="Both"/> Both
            <br>                                         
            
            <hr>

            <h3>Contact Info: </h3>
            <br>
            <label for="contact">Contact Name: </label>
              <input name="contact" type="text"  class="form-control input-sm chat-input" placeholder="Contact Name" ng-model="user.contact" required/>
            <br>

            <div>
              <label>Do you prefer to be contacted by phone or email?</label>
                <select name="communicate" ng-model="communication" required>
                  <option></option>
                  <option>Phone</option>
                  <option>Email</option>
                </select>
            </div>

            <!-- drop down options depending on what user selects as their communication preference -->
            <div ng-show="communication === 'Phone'">
            <label for="phone">Contact Phone Number: </label>
              <input name="phone" type="text"  class="form-control input-sm chat-input" placeholder="Phone Number" ng-model="user.phone"/>
            </div>
            <br>
            <div ng-show="communication === 'Email'">
            <label for="email">Contact Email Address: </label>
              <input name="email" type="email"  class="form-control input-sm chat-input" placeholder="Email" ng-model="user.email"/>
            </div>
            <br> 

            <hr>

            <h3>Your Links: </h3>
            <br>
            <label for="facebook">Facebook URL: </label>
              <input name="facebook" type="text" class="form-control input-sm chat-input" placeholder="http://www.facebook.com/my-venue/" ng-model="user.facebook"/>
            <br>  
            <label for="yelp">Venue Yelp URL: </label>
              <input name="yelp" type="text" id="userYelp" class="form-control input-sm chat-input" placeholder="http://www.yelp.com/my-venue/" ng-model="user.yelp"/>
            <br>  
            <label for="website">Venue Website: </label>
              <input name="website" type="text" id="userWebsite" class="form-control input-sm chat-input" placeholder="http://www.my-venue.com/" ng-model="user.website"/>            
            <br>
<hr>
            <!-- Agreement Form to be added at later point as modal? -->
            <label for="agree">Yes, I agree to the Terms and Conditions! (that don't exist)  </label>
              <input type="checkbox" ng-model="user.agree" name="agree" required />

            <div class="wrapper">
              <span class="group-btn">     
                <button class="btn btn-primary btn-block" ng-click="signupVenue()" ng-disabled="signForm.$invalid">Create Venue Profile</button>
              </span>
              <br> 
              <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
