<!-- Main login form -->
<div class="container signform">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-login">
          <h3>VENUE SIGN UP FORM</h3>
          <form name="signForm">
            <!-- username input-->
            <label for="username">Username: </label>
            <input name="username" type="text"  class="form-control input-sm chat-input" placeholder="username" ng-model="user.username" required/>
            <br>
            <label for="password">Password: </label>
            <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
            <br>
<!--             <label for="address">What is your venue's address?</label>
            <input name="address" type="text" id="userAddress" class="form-control input-sm chat-input" placeholder="address" ng-model="user.address" required/>
            <br>
            <label for="capacity">How many people can your venue hold?</label>
            <input name="capacity" type="number" id="userCapacity" class="form-control input-sm chat-input" placeholder="capacity" ng-model="user.capacity" required/>
            <br>  
            <label for="genre">What genres of music is your venue interested in?</label> 
            <input name="genre" type="text" id="userGenre" class="form-control input-sm chat-input" placeholder="genre" ng-model="user.genre" required/>
            <br>    
            <label for="about_us">Tell us a bit more about your venue:</label> 
            <input name="about_us" type="text" id="userAboutUs" class="form-control input-sm chat-input" placeholder="" ng-model="user.about_us" required/>
            <br>                 
            <label for="website">Venue Website URL: </label>
            <input name="website" type="url" id="userWebsite" class="form-control input-sm chat-input" placeholder="website" ng-model="user.website" required/>
            <br>  
            <label for="yelp">Venue Yelp URL: </label>
            <input name="yelp" type="url" id="userYelp" class="form-control input-sm chat-input" placeholder="Yelp" ng-model="user.yelp" required/> -->
            <br>  

            <!-- Agreement Form to be added -->
            <label for="agree">Yes, I agree to the Terms and Conditions! (that don't exist)  </label>
            <input type="checkbox" ng-model="user.agree" name="agree" required="" />

            <div class="wrapper">
              <span class="group-btn">     
                <button class="btn btn-primary btn-block" ng-click="signup()" ng-disabled="signForm.$invalid">Create Venue Profile</button>
              </span>
              <br> 
              <br>
              <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
